{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="#" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/fonts/icomoon/style.css' %}?after"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/fonts/flaticon/font/flaticon.css' %}?after"
    />

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/tiny-slider.css' %}?after"
    />
    <link rel="stylesheet" href="{% static 'bootstrap/css/aos.css' %}?after" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/style.css' %}?after"
    />

    <title>{% block pagename %}{% endblock pagename %}</title>
  </head>
  <body>
    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="#" class="logo m-0 float-start">bae-bi</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="#">Home</a></li>
              <li class="has-children">
                <a href="#">메뉴 고르기</a>
                <ul class="dropdown">
                  <li><a href="#">Buy Property</a></li>
                  <li><a href="#">Sell Property</a></li>
                  <li class="has-children">
                    <a href="#">Dropdown</a>
                    <ul class="dropdown">
                      <li><a href="#">Sub Menu One</a></li>
                      <li><a href="#">Sub Menu Two</a></li>
                      <li><a href="#">Sub Menu Three</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>

      <main class="flex-shrink-0" style="padding-top: 100px">
        <div style="margin-left: 30px; margin-right: 30px">
          {% block main %}{% endblock main %}
        </div>
      </main>
    </nav>
  </body>
</html>
