{% extends "./base.html" %} {% load static %} {% block pagename %}bae-bi's main
page{% endblock pagename %} {% block main %}
<div class="section section-properties">
  <div class="container">
    <div class="row">
      {% for ctg in category %}
      <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <div style="height: 250pt">
            <a href="{{ctg.url}}" class="img">
              <center>
                <img
                
                  src="{{ctg.img_path}}"
                  alt="Image"
                  class="img-fluid"
                  style="margin-top: 10px; height: 80%"
                />
              </center>
            </a>
          </div>
          <div
            class="card-body property-content"
            style="position: relative; bottom: -10px"
          >
            <a href="{{ctg.url}}">
              <span class="city d-block mb-3">
                <center>{{ctg.name}}</center>
              </span>
            </a>
          </div>
        </div>
        <!-- .item -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}
