{% extends "./base.html" %} {% load static %} {% block pagename %}bae-bi's main
page{% endblock pagename %} {% block main %}
<div class="section section-properties">
  <div class="container">
    <div class="row">
      {% for ctg in category %}
      <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <div style="height: 200pt">
            <a href="{{ctg.url}}" class="img">
              <img
                src="{{ctg.path}}"
                alt="Image"
                class="img-fluid"
                style="margin-top: 10px height: 80%"
              />
            </a>
          </div>
          <div class="card-body" style="margin-top: 15%">
            <a href="{{ctg.url}}">
              <div class="card-title property-content">
                <span class="city d-block mb-3">
                  <center>{{ctg.name}}</center></span>
              </div>
            </a>
          </div>
        </div>
        <!-- .item -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}
