<div>
    <div
      class="card"
      style="
        position: absolute;
        z-index: 2;
        margin: 3px;
        width: 78.5%;
      "
    >
      <p class="card-title">디테일 영역</p>
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <div
        style="
        position: relative;
        z-index: 3;
        width: 20%;
        margin-right: 10px;
        position: fixed;
        margin-left: 80%;
        height: 600px;
        "
        class="card">
        <strong
            class="card-body"
            id="dest_copy"
            ondrop="drop_handler(event);"
            ondragover="dragover_handler(event);">cart</strong>
        <center>
            <button
                class="btn btn-outline-success active"
                style="
                width: 70%;
                margin-bottom: 1pt;
                background-color: #005555;
                justify-content: center;
                ">비교
            </button>
        </center>
    <!-- 버튼타입 type="submit" -->
    </div>
    
    
    <div class="hero page-inner overlay" style="background-image: url('https://nenechicken.com/17_new/images/menu/30005.jpg'); height: 50px;">
    
        <div class="container" style="position: relative;top: -200px;">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center mt-5">
                    <h1 class="heading" data-aos="fade-up">BHC 판교점</h1>
                    <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                        <ol class="breadcrumb text-center justify-content-center">
                            <li class="breadcrumb-item text-white-50">별점 4.0</li>
                            <li class="breadcrumb-item active text-white-50" aria-current="page">매장 위치 2123123</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    
      <div class="section">
        <div class="container">
          <div class="row justify-content-between">
            <div>
              <ul class="list-group" style="row-gap: 3px; margin: 3px">
                {% for store in cat_list.store_list %}
                <li
                  style="height: 100pt"
                  class="list-group-item"
                  draggable="true"
                  id="{{store.name}}"
                  ondragstart="dragstart_handler(event);"
                  ondragend="dragend_handler(event);"
                >
                  <p><strong>{{store.name}}</strong> | {{store.company}}</p>
                  <p>{{store.coupon}}</p>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
    
          <div class="card-body mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">댓글 작성하기</label>
            <input class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
            <button class="btn btn-success" type="submit" style="float: right;">작성</button>
          </div>
          <ul>
            <!-- 댓글 아이템 시작 -->
            <li class="card-body" >
              <div>
                댓글 내용 테스트
              </div>
              <div id="list1" class="carousel slide" style="width: 200pt;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#list1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#list1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#list1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                  <img src="https://nenechicken.com/17_new/images/menu/30005.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="carousel-item">
                  <img src="https://wimg.mk.co.kr/meet/neds/2022/10/image_readtop_2022_875926_16648812615186110.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="carousel-item">
                  <img src="https://dimg.donga.com/wps/NEWS/IMAGE/2022/11/04/116313417.1.edit.jpg" alt="Image" class="img-fluid">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#list1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#list1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>
            </li>
            <!-- 댓글 아이템 끝 -->
          </ul>
        </div>
      </div>
</div>